   /* Reset styles */
   *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
}

/* Base styles */
body, html {
    width: 100%;
    min-height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
    width: 100%;
    padding: 20px 0;
}

header {
    background-color: #ffffff;
    color: #40E0D0;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

footer {
    background-color: #ffffff;
    color: #007BA7;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

/* Form styles */
#debate-search-form-container {
    margin-bottom: 20px;
    padding: 0 10px; /* 左右に10pxの内側の余白を追加 */
}

#debate-search-form {
    display: flex;
    gap: 10px;
    max-width: 800px; /* フォームの最大幅を設定 */
    margin: 0 auto; /* 中央揃え */
}

#debate-search-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px; /* 高さを固定 */
    font-size: 16px; /* フォントサイズを指定 */
}

#debate-search-form button {
    background-color: #40E0D0;
    color: black;
    border: none;
    padding: 0 15px; /* 左右のパディングを調整 */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px; /* 入力ボックスと同じ高さに設定 */
}

#debate-search-form button .search-icon {
    width: 20px; /* アイコンサイズを調整 */
    height: 20px;
    margin-left: 5px;
}

#debate-search-form button .search-icon.hover {
    display: none;
}

#debate-search-form button:hover .search-icon.default {
    display: none;
}

#debate-search-form button:hover .search-icon.hover {
    display: inline;
}
#debate-search-form button:hover {
    background-color: #007BA7;
    color: white;
}

/* debate card styles */
#debate-search-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 10px; /* 左右に10pxの内側の余白を追加 */
    max-width: 800px; /* カードコンテナの最大幅を設定 */
    margin: 0 auto; /* 中央揃え */
}

.debate-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 123, 167, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.debate-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 123, 167, 0.2);
}

.debate-card h2 {
    font-size: 24px;
    color: #40E0D0;
}

.debate-card p {
    margin-top: 10px;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}