*,
*::before,
*::after {

    /* Margin */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
    user-select: none;
}

body {

    /* Display */
    display: flex;
    justify-content: center;

    /* Background-color */
    background-color: #ccc;

    min-height: 100vh;
}

main {

    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Sizing */
    width: 768px;
    min-height: 100vh;

    /* Background-color */
    background-color: #fff;

    /* Padding */
    padding-left: 128px;
    padding-right: 128px;
}

main>header,
main>footer {

    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {

    /* Sizing */
    width: 192px;
    height: 192px;
}

#logo img {

    /* Sizing */
    width: 100%;
    height: 100%;
}


#singin-form-container {

    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Sizing */
    width: 100%;
}

#signin-form {

    /* Display */
    display: flex;
    flex-direction: column;

    /* Sizing */
    width: 100%;
}

#signin-form div.form-section {

    /* Display */
    display: flex;
    flex-direction: column;

    /* Sizing */
    width: 100%;

    /* Margin */
    margin-bottom: 24px;
}

#signin-form div.form-section label {

    /* Sizing */
    width: 100%;
}

#signin-form div.form-section input {

    /* Sizing */
    width: 100%;

    /* Padding */
    padding: 8px;

    /* Margin */
    border: 1px solid #ccc;
    border-radius: 5px;
}

#signin-form button,
        .signup-button {
            width: 100%;
            padding: 8px;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            margin: 5px 0;
        }

        #signin-form button {
            background-color: #40E0D0;
            color: black;
        }

        #signin-form button:hover {
            background-color: #007BA7;
            color: white;
        }

        .signup-button {
            background-color: #F0F8FF;
            color: black;
            border: 2px solid #40E0D0;
        }

        .signup-button:hover {
            background-color: #D6E9FF;
            color: black;
            border: 2px solid #007bff;
        }
#links {

    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    /* Margin */
    margin-top: 16px;
    margin-bottom: 16px;
}


