<!-- メニュー部分の画面 -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DebateMate layout</title>
    <link rel="stylesheet" href="../static/css/layout.css">
</head>

<body>
    <div id="menu">
        <!-- ロゴマーク -->
         <div class="yoko">
        <img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733187481/%E3%83%AD%E3%82%B4%E3%83%9E%E3%83%BC%E3%82%AF_bmmwqk.png" width="50" height="50" id="rogo">
        <h2>DebateMate</h2>
        </div>
        <a href="#" class="help-icon"><div>?</div></a>
        <div class="wrapper">
        <ul>
            <li><button type="submit">議論</button></li>

            <li><button type="submit">Botカスタム</button></li>
        </div>

        
        <!-- 検索コンテナー -->
        <input type="text" placeholder="ユーザーを検索..." id="user-search-input">

            <!-- ユーザー一覧 -->
  <div id="user-list">
    <ul>
      <li><img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733185893/%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E4%BB%AE_cnysqi.png" alt="ユーザー1">ユーザー1</li>
      <li><img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733185893/%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E4%BB%AE_cnysqi.png" alt="ユーザー2">ユーザー2</li>
      <li><img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733185893/%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E4%BB%AE_cnysqi.png" alt="ユーザー1">ユーザー1</li>
      <li><img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733185893/%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E4%BB%AE_cnysqi.png" alt="ユーザー2">ユーザー2</li>
      <li><img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733185893/%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E4%BB%AE_cnysqi.png" alt="ユーザー1">ユーザー1</li>
      <li><img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733185893/%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E4%BB%AE_cnysqi.png" alt="ユーザー2">ユーザー2</li>
      <!-- 他のユーザーを追加 -->
    </ul>
  </div>
    <div class="wrapper">
        <div id="user-profile">
            <div class="user-icon">
                <img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733185893/%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E4%BB%AE_cnysqi.png" alt="ユーザーアイコン">
            </div>
            <button type="submit">設定</button>
        </div>
    </div>    
        </ul>
        
    </div>

    
    
</body>
</html>