<!-- グループ一覧部分の画面 -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DebateMate layout</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>

<body>
    
    <!-- グループ一覧 -->
    <input type="checkbox" id="group-toggle" class="group-checkbox">
    <label for="group-toggle" class="group-toggle">グループ一覧</label>
    <div id="group-list">
        <ul>
            <li><a href="#"><div class="group-icon">
                <img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733185893/%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E4%BB%AE_cnysqi.png" alt="グループアイコン">
            </div></a></li>
            <li><a href="#"><div class="group-icon">
                <img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733185893/%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E4%BB%AE_cnysqi.png" alt="グループアイコン">
            </div></a></li>
            <li><a href="#"><div class="group-icon">
                <img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733185893/%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E4%BB%AE_cnysqi.png" alt="グループアイコン">
            </div></a></li>
            <li><a href="#"><div class="group-icon">
                <img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733185893/%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E4%BB%AE_cnysqi.png" alt="グループアイコン">
            </div></a></li><li><a href="#"><div class="group-icon">
                <img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733185893/%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E4%BB%AE_cnysqi.png" alt="グループアイコン">
            </div></a></li>
            <li><a href="#"><div class="group-icon">
                <img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733185893/%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E4%BB%AE_cnysqi.png" alt="グループアイコン">
            </div></a></li><li><a href="#"><div class="group-icon">
                <img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733185893/%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E4%BB%AE_cnysqi.png" alt="グループアイコン">
            </div></a></li>
            <li><a href="#"><div class="group-icon">
                <img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733185893/%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E4%BB%AE_cnysqi.png" alt="グループアイコン">
            </div></a></li><li><a href="#"><div class="group-icon">
                <img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733185893/%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E4%BB%AE_cnysqi.png" alt="グループアイコン">
            </div></a></li>
            <li><a href="#"><div class="group-icon">
                <img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733185893/%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E4%BB%AE_cnysqi.png" alt="グループアイコン">
            </div></a></li><li><a href="#"><div class="group-icon">
                <img src="https://res.cloudinary.com/dq9ypnzdn/image/upload/v1733185893/%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E4%BB%AE_cnysqi.png" alt="グループアイコン">
            </div></a></li>
            <!-- 必要に応じてグループを追加 -->
        </ul>
    </div>
</body>
</html>