<!-- グループ検索画面 -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DebateMate - グループボット検索</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/parts/group_reset_with_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/group_bot_search.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    {% include 'parts/group_menu.html' with group=group %}

    <main>
        <header>
            <h3>{{ group.name }} > グループボット検索</h3>
            <h1>グループボットを検索</h1>
        </header>

        <div id="group-bot-search-form-container">
            <form method="POST" id="group-bot-search-form">
                {% csrf_token %}
                {{ form.query }}
                <button type="submit">検索</button>
            </form>
        </div>

        <div id="group-bot-search-card-container">
            <a href="{% url 'group.(id).bot.invite' group.id %}">
                <div class="group-bot-card">
                    <h2>招待</h2>
                </div>
            </a>
            {% for group_bot in group_bots %}
            <a href="{% url 'group.(id)' group.id %}">
                <div class="group-bot-card">
                    <img src="{{ group_bot.image.url }}" alt="https://via.placeholder.com/128x128">
                    <p>{{ group_bot.nickname }}</p>
                    <p>{{ group_bot.name }}</p>
                </div>
            </a>
            {% endfor %}
        </div>

        <footer>
            <p>copyright &copy; 2024 KNOTSKY. All Rights Reserved</p>
        </footer>
    </main>
</body>

</html>